:root {
    /* Fonts */
    --primaryFont: 'Raleway', sans-serif;
    --secondaryFont: 'Roboto', sans-serif;
    --italicFont: 'Bona Nova', serif;

    /* Media Queries */
    --phone: 480px;
    --tablet: 768px;
    --desktop: 1024px;

    /* Colors */
    --primary: #5E311E;
    --secondary: #C39C63;
    --black: #000000;
    --white: #FFFFFF;
    --lightGrey: #ECEEEF;
    --lightCoffee: #EBE7DE;

    /* Units */
    --separation: 5rem;
}

/* ==== Global ==== */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit; 
}

body {
  font-family: var(--primaryFont);
  font-size: 1.6rem;
  background-color: var(--lightCoffee);
}

h1, h2, h3 {
    font-family: var(--primaryFont);
    margin: 0 0 var(--separation) 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}

h1 {
	font-size: 4rem;
  margin: var(--separation) 0;
}

h2 {
	font-size: 3.6rem;
    color: var(--primary);
}

h2::after {
    content: '';
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    background-image: url(../img/cafe.svg);
    background-size: 10rem;
}

h2 span {
    color: var(--secondary);
    font-size: 1.8rem;
    display: block;  
}

h3 {
	font-size: 3.2rem;
}

p {
  color: var(--black);
  font-size: 1.6rem;
  line-height: 2;
}

a {
	text-decoration: none;
    color: var(--black);
}

img {
	max-width: 100%;
    height: auto;
	display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.conteiner {
	width: 95%;
	max-width: 120REM;
	margin: 0 auto;
}

.heading-white,
.heading-white span  {
    color: var(--white);
}

.heading-white::after {
    display: none;
}

/* ==== header ==== */

.header {
  position: relative;
  padding: 5rem 0;
  min-height: 70rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.header::before {
  content: '';
  background-color: var(--black);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
}

.content-header {
  position: relative;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: var(--separation);
}

.bar {
  display: flex;
  flex-direction: column;
  gap: var(--separation);
}
@media (min-width: 768px) {
  .bar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  width: 50%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .logo {
    width: 20rem;
    margin: 0 auto 0 0;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
  }
}

.navbar-link {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 0.5rem;
}

.navbar-link:hover:not(.link-active) {
  color: var(--secondary)
}

.link-active {
  color: var(--secondary);
}

.text-header {
  font-size: 4rem;
}

/* ==== Images of each header  ==== */
.header-home {
  background-image: url(../img/header_inicio.jpg);
}

.header-us {
  background-image: url(../img/header_nosotros.jpg);
  background-position: left;
}

.header-process {
  background-image: url(../img/header_proceso.jpg);
  background-position: center;
}

.header-menu {
  background-image: url(../img/header_menu.jpg);
  background-position: right;
}

.header-gallery {
  background-image: url(../img/header_galeria.jpg);
  background-position: 50%;
}

.header-contact {
  background-image: url(../img/header_contacto.jpg);
  background-position: center;
}